data/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
output_logs/
plot.log
can_all_chunks/
remora/can_all_chunks/
remora/8oxo_G29_chunks/
remora/8oxo_G30_chunks/
remora/8oxo_G31_chunks/
remora/8oxo_G35_chunks/
remora/can_G29_chunks/
remora/can_G30_chunks/
remora/can_G31_chunks/
remora/can_G35_chunks/
remora/train_dataset.jsn
remora/train_dataset.log
remora/train_results/
remora/G29_infer.log
remora/G30_infer.log
remora/G31_infer.log
remora/G35_infer.log
remora/wt_infer.log
remora/G29_infer.bam
remora/G30_infer.bam
dorado/
remora/G31_infer.bam
remora/G35_infer.bam
remora/wt_infer.bam
